@using Zoo.Core.Models.Downloads
@model DownloadAddFormModel

@{
    ViewData["Title"] = "Добави PDF файл";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Добавяне на файл</h3>
            </div>
            <form enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-8">
                            <label asp-for="FileName"></label>
                            <input asp-for="FileName" class="form-control" placeholder="Добавете име за лесно разпознаване на съдържанието във файла">
                            <span asp-validation-for="FileName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="FileUpload.FilePDF" class="control-label"></label>
                            <input asp-for="FileUpload.FilePDF" type="file" class="form-control">
                            <span asp-validation-for="FileUpload.FilePDF" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="2" placeholder="Добавете описание към файла ако има нужда от такова"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-controller="Downloads" asp-action="All" class="btn btn-secondary">Отказ</a>
                    <input asp-page-handler="Upload" class="btn btn-primary float-right" type="submit" value="Качи файла">
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}