@using Zoo.Core.Models.News
@model NewsAddFormModel

@{
    ViewData["Title"] = "Добави новина";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Добави новина</h3>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Добавете заглавие">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" id="richtextarea" class="form-control" rows="10" placeholder="Добавете съдържанието тук"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImgUrl"></label>
                        <input asp-for="ImgUrl" class="form-control" placeholder="Добавете линк на изображение">
                        <span asp-validation-for="ImgUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-controller="News" asp-action="All" class="btn btn-secondary">Отказ</a>
                    <button type="submit" class="btn btn-primary float-right">Публикувай</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}