    <h2 class="text-center"><b>Схема на зоологическата градина в град Хасково</b></h2>
    <img src="~/img/SchemeHaskovoZoo.jpg" alt="Карта зоопарк" onclick="window.open('https://localhost:7087/img/SchemeHaskovoZoo.jpg', '_blank');" width="100%">
    <h5 class="text-center"><b>(кликни на схемата, за да отвориш на цял екран в нов прозорец)</b></h5>